/*        SECCION UNO           */
body {
  background-image: linear-gradient(to right, #F2F4F1 75%, #DCE1DA 75%);
  padding: 0px;
  margin: 0px;
}

.contenedor{
  width: 100%;
  height: 48rem;
  background-image: url(./img/imagen2.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.contenedor-dos{
  background: #FFFFFF;
  // top: 768px;
  left: 0px;
  width: 100%;
  height: 672px;
  display: flex;
  align-items: center;
}

.contenedor-tres{
  width: 100%;
  height: 47.5rem;
  display: flex;
  // border: 4px solid salmon;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.contenedor-cuatro{
  width: 100%;
  height: 47.5rem;
  background: #fff;
  display: flex;
  background-image: url(./img/section4-image.png);
  background-repeat: no-repeat;
  background-position: right;
  
  // justify-content: flex-end;
}

.contenedor-cinco{
  width: 100%;
  height: 768px;
}

/*        PARTE UNO             */

.parte-superior{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #E0752F;
  border: 2px solid red;
  height: 6rem;
}

.imagen{
  
  background-image: url(./img/top-logo.svg);
  background-repeat: no-repeat;
  margin-left: 7.3%;
  margin-top: auto;
  width: 9.3%;
  height: 66%;
  border: 2px solid blue;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  width: 42.68rem;
  height: 12.5%;
  margin-right: 110px;
  justify-content: flex-end;
  align-content: space-around;
  text-align: center;
  font-family: Thasadith;
}

.menu a{
  display: inline-block;
  height: 25.6%;
  width: 13%;
  justify-content: right;
  text-align: center; 
  text-decoration:none;
  color: #fff;
  cursor: pointer;
}

.carrusel{
  width: 30%;
  height: 30%;
  display: flex;
}

.ubicacion{
  top: 15%;
  bottom: 30%;
  left: 10%;
  width: auto;
  height: auto;
}

.titulos{
  margin-top: 154px;
  margin-left: 101px;
}

.titulo-uno{
  width: 554px;
  height: 115px;
  letter-spacing: 0.67px;
  font-family: Poppins;
  font-size: 36px;
  color: #FFFFFF;
}

.titulo-dos{
  width: 30rem;
  height: 2.6;
  font-style: normal;
  font-weight:lighter;
  font-size: 16px;
  font-family: Roboto;
  text-align: left;
  letter-spacing: 0.22px;
  color: #FFFFFF;
  opacity: 1;
}

.button{
  width: 144px;
  height: 48px;
  background: #E0752F;
  color: #FFFFFF;
  border-radius: 25px;
  border-style: none;      
}

.redondeo{
  border-radius: 50%;
}
/*            SECCION DOS               */
.segunda-parte{
  margin-left: 299px;    
}


.segundoh1{
  color: #E0752F;
  letter-spacing: 0.55px;
}

.barra{
  width: 32px;
  height: 384px;
  background: #E0752F;
}

.texto1{
  width: 768px;
  height: 197px;
  display: inline-block;
  letter-spacing: 0.22px;
  color: #343434;
  opacity: 1;
  text-align: justify;
}
/*            SECCION TRES              */

.imagentres{
  width: 966px;
  height: 552px;
  background-image: url(./img/section3-image.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.caja{
  position: relative;
  width: 471px;
  height: 304px;
  background: #E0752F;
}

.flechas{
  position: absolute;
  width: 29.4rem;
  // height: 3rem;
  margin-right: 1rem;
  // display: flex;
  // justify-content: space-around;
  // border: 2px solid blue;
}

.texto-caja1{
  width: 25rem;
  height: 1.5rem;
  letter-spacing: 0.22px;
  color: #FFFFFF;
  opacity: 1;
  font-family: Roboto;
  font-weight: normal;
  font-size: 12px;
  margin-left: 10%;
  margin-top: 15%;
  margin-bottom: 0px;
  font-style: normal; 
}

.texto-caja2{
  width: 25rem;
  height: 5rem;
  margin-left: 10%;
  margin-bottom: 0px;
  letter-spacing: 0.55px;
  color: #FFFFFF;
  opacity: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: medium;
  font-style: normal;
}

.texto-caja3{
  width: 25rem;
  height: 5rem;
  margin-left: 10%;
  margin-top: 0.5rem;
  letter-spacing: 0.22px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight:lighter;
  font-style: normal;

}

.carousel-control-next{
  width: 100%;
  height: 90%;
  align-items: flex-end;
}
.carousel-control-prev{
  width: 50%;
  height: 90%;
  align-items: flex-end;
}


.flecha-izquierda{
  background-image: url(./img/left.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.flecha-derecha{
  background-image: url(./img/rigth.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.container--flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



/*            SECCION CUATRO            */


.accordion{
  margin-top: 144px;
  margin-left: 101px;
  width: 50%;
}

.accordion-body{
  color:#5f6368;
}

/*            SECCION CINCO             */


.titulos-cinco{
  width: 285px;
  height: 100px;
  margin-top: 120px;
  margin-left: 101px;
}

.titulos-cinco .titulo1{
  letter-spacing: 0.55px;
  color: #343434;
  font-weight: bolder;
}
.titulos-cinco .titulo2{
  letter-spacing: 0.55px;
  color: #E0752F;
  font-weight: bolder;
}

.imagen-cinco{
  background-image: url(./img/imagen1.png);
  background-repeat: no-repeat;
  width: 594px;
  height: 400px;
  top: 192px;
  left: 671px;
  margin-left: 671px;
}

.formulario{
  padding: 10px;
  padding-top: 0;
  
}

.formulario__input-txt, .formulario__textarea{
  display: block;
  width: 100%;
  height: 33px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #BEBEBE;

}

.formulario__input-txt{
  padding: 10px;
  margin-bottom: 10px;
}

.formulario__textarea{
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
  max-height: 200px;
}

.button-cinco{
  margin-top: 4rem;
  width: 144px;
  height: 48px;
  background: #E0752F;
  color: #FFFFFF;
  border-radius: 1.5rem;
  border-style: none;
}

/*            SECCION FOOTER            */

.footer{
  display: flex;
  width: 100%;
  height: 96px;
  background: #343434;
  color: #DCE1DA;
  justify-content: space-between;
  align-items: center;

}

.texto-footer{
  margin-top: 38px;
  margin-left: 101px;
  margin-bottom: 37px;
}


.imagen-footer{
  background-image: url(./img/footer-logo.svg);
  background-repeat: no-repeat;

  width: 200px;
  height: 25px;
}   

@media (min-width: 400px) {
  body{
    width: auto;
  }
  .caja{
    width: 12.5rem;
    height: 9.5rem;
  }
  .carousel-inner{
    width: 12.5rem;
    height: 9.5rem;
    border: 2px solid #E0752F;
  }
}

@media (max-width: 1200px) {
  body{
    width: auto;
  }
  
}